<%= render_errors account %>

<%= form_for [:admin, account] do |f| %>
    <div class="row">
      <div class="input-field col s12 m6 l4">
        <%= f.text_field :company_name, class: 'validate' %>
        <%= f.label :company_name, (t'general.company_name') %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.collection_select :plan_id, Plan.available, :id, :name, {}, {class: 'validate'} %>
        <%= f.label :plan, (t'general.plan') %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.collection_select :paused_plan_id, Plan.available, :id, :name, {include_blank: true}, {class: 'validate'} %>
        <%= f.label :paused_plan_id, (t'general.paused_plan_id') %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.date_field :expires_at, class: 'validate datepicker' %>
        <%= f.label :expires_at, (t'general.expires_at') %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.text_field :email, class: 'validate' %>
        <%= f.label :email, (t'general.email') %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.text_field :address_line1, class: 'validate' %>
        <%= f.label :address_line1, (t'address.address_line1') %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.text_field :address_line2, class: 'validate' %>
        <%= f.label :address_line2, (t'address.address_line2') %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.text_field :address_city, class: 'validate' %>
        <%= f.label :address_city, (t'address.address_city') %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.text_field :address_zip, class: 'validate' %>
        <%= f.label :address_zip, (t'address.address_zip') %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.text_field :address_state, class: 'validate' %>
        <%= f.label :address_state, (t'address.address_state') %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.country_select :address_country, ['IT'], {iso_codes: true}, {class: 'validate'} %>
        <%= f.label :address_country, (t'address.address_country') %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.text_field :custom_path, class: 'validate' %>
        <%= f.label :custom_path, (t'host.custom_path') %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.text_field :hostname, class: 'validate' %>
        <%= f.label :hostname, (t'host.hostname') %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.text_field :subdomain, class: 'validate' %>
        <%= f.label :subdomain, (t'host.subdomain') %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m3 l3">
        <div class="switch">
          <label>
            Not Active
            <%= f.check_box :active, {:checked => account[:active]}, 1, 0 %>
            <span class="lever"></span>
            Active
          </label>
        </div>
      </div>
      <div class="input-field col s12 m3 l2">
        <%= f.submit (t'general.save'), class: 'btn btn-large green' %>
      </div>
      <div class="input-field col s12 m3 l2">
        <% if account.new_record? %>
            <%= link_to (t'general.discard'), admin_accounts_path, class: 'btn btn-large red' %>
        <% else %>
            <%= link_to (t'general.discard'), admin_account_path(account), class: 'btn btn-large red' %>
        <% end %>
      </div>
    </div>
<% end %>
